<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Primary Meta Tags -->
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <meta name="keywords" content="{{ if .Params.keywords }}{{ delimit .Params.keywords ", " }}{{ else }}{{ .Site.Params.keywords }}{{ end }}">
    <meta name="author" content="{{ .Site.Params.author }}">

    <!-- Canonical URL -->
    <link rel="canonical" href="{{ .Permalink }}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}">
    <meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <meta property="og:image" content="{{ .Site.BaseURL }}images/site-preview.jpg">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{ .Permalink }}">
    <meta name="twitter:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}">
    <meta name="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <meta name="twitter:image" content="{{ .Site.BaseURL }}images/site-preview.jpg">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- CSS -->
    {{ $mainCSS := resources.Get "css/main.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $mainCSS.RelPermalink }}">
    
    {{ $componentsCSS := resources.Get "css/components.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $componentsCSS.RelPermalink }}">
    
    {{ if .IsHome }}
    {{ $homeCSS := resources.Get "css/home.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $homeCSS.RelPermalink }}">
    {{ end }}
    
    {{ if eq .Section "devnotes" }}
    {{ $devnotesCSS := resources.Get "css/devnotes.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $devnotesCSS.RelPermalink }}">
    {{ end }}
    
    {{ if eq .Section "endurance" }}
    {{ $enduranceCSS := resources.Get "css/endurance.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $enduranceCSS.RelPermalink }}">
    {{ end }}
    
    {{ if eq .Section "ai" }}
    {{ $aiCSS := resources.Get "css/ai.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $aiCSS.RelPermalink }}">
    {{ end }}
    
    {{ if eq .Section "legal" }}
    {{ $legalCSS := resources.Get "css/legal.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $legalCSS.RelPermalink }}">
    {{ end }}
    
    {{ if eq .RelPermalink "/about/" }}
    {{ $aboutCSS := resources.Get "css/about.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $aboutCSS.RelPermalink }}">
    {{ end }}
</head>